* {
  margin: 0 auto;
  font-size: 18px;
  // color: #333;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

a {
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.pages {
  min-height: calc(100vh - 141px);
  max-width: 1400px;
  margin: 0 auto;
  .top-page,
  .about-page,
  .works-page,
  .contact-page,
  .error-page {
    height: 100%;
    margin-top: 82px;
    h2 {
      width: 85%;
      display: flex;
      align-items: center;
      padding-top: 90px;
      margin: 0 auto 70px;
      font-size: 30px;
      &::after {
        content: '';
        display: block;
        flex: 1;
        height: 1px;
        margin-left: 10px;
        background: #ccc;
      }
    }
  }
}

.pages > .contact-page {
  min-height: 120vh;
}

.pages > .about-page {
  min-height: 200vh;
}