* {
  margin: 0 auto;
  font-size: 18px;
  // color: #333;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

a {
  text-decoration: none;
}

.pages {
  height: 80vh;
  max-width: 1400px;
  margin: 0 auto;
}